---
layout: default
title: Home
nav-area: home
---

<!--
<div class="projects-blurb">
  <h2>Our projects</h2>
  <ul class="listing">
    {% assign projects = site.projects | where: "featured", "true" | sort: 'featured-priority' %}
    {% for project in projects %}
    <li>
      <h3>{{ project.title }}</h3>
      <a href="{{ project.url }}">Learn about {{ project.title }}</a>
    </li>
    {% endfor %}
  </ul>
  <a href="/projects" class="direct-to-section">Learn about more of our projects</a>
</div>--><!-- end of div.projects-blurb -->


<div class="people-blurb">
  <div class="card-group profile text-center">
    {% assign people = site.people %}
    {% for person in people %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal{{ person.object-id }}">
      <img src="/assets/img/people/{{ person.picture }}" class="rounded-circle img-fluid"
        alt="Picture of {{ person.name }}">
        <p class="lead">{{ person.name }}</p>
    </button>
    {% endfor %}
    {% for person in people %}
    <!-- Modals -->
    <div class="modal fade" id="modal{{ person.object-id }}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <img src="/assets/img/people/{{ person.picture }}" class="rounded-circle img-fluid"
              alt="Picture of {{ person.name }}">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h5>{{ person.name }}</h5>
            <h6 class="mb-2 text-muted">{{ person.role }}</h6>
            {{ person.content }}
            <a href="{{ person.url }}" class="card-link">More</a>
            <div id="map_canvas">
              <iframe id="ctl00_PlaceHolderMain_TextFieldDisplay4_iframeMap" width="100%" height="414px"
                src="https://maps.portal.chalmers.se/people#{{ person.cid }}"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div><!-- end of section.people-blurb -->